<?xml version="1.0"?>
<config>
    <modules>
        <Aoe_SalesRule>
            <version>0.0.1</version>
        </Aoe_SalesRule>
    </modules>
    <global>
        <helpers>
            <Aoe_SalesRule>
                <class>Aoe_SalesRule_Helper</class>
            </Aoe_SalesRule>
        </helpers>
        <models>
            <Aoe_SalesRule>
                <class>Aoe_SalesRule_Model</class>
            </Aoe_SalesRule>
            <salesrule>
                <rewrite>
                    <quote_freeshipping>Aoe_SalesRule_Model_Quote_Freeshipping</quote_freeshipping>
                    <quote_discount>Aoe_SalesRule_Model_Quote_Discount</quote_discount>
                    <rule_condition_product_found>Aoe_SalesRule_Model_Condition_Product_Found</rule_condition_product_found>
                    <rule_condition_product_subselect>Aoe_SalesRule_Model_Condition_Product_Subselect</rule_condition_product_subselect>
                </rewrite>
            </salesrule>
        </models>
        <events>
            <sales_quote_address_discount_apply_rule_by_fixed>
                <observers>
                    <Aoe_SalesRule>
                        <class>Aoe_SalesRule/Observer</class>
                        <method>applyCoreSalesRule</method>
                    </Aoe_SalesRule>
                </observers>
            </sales_quote_address_discount_apply_rule_by_fixed>
            <sales_quote_address_discount_apply_rule_by_percent>
                <observers>
                    <Aoe_SalesRule>
                        <class>Aoe_SalesRule/Observer</class>
                        <method>applyCoreSalesRule</method>
                    </Aoe_SalesRule>
                </observers>
            </sales_quote_address_discount_apply_rule_by_percent>
            <sales_quote_address_discount_apply_rule_cart_fixed>
                <observers>
                    <Aoe_SalesRule>
                        <class>Aoe_SalesRule/Observer</class>
                        <method>applyCoreSalesRule</method>
                    </Aoe_SalesRule>
                </observers>
            </sales_quote_address_discount_apply_rule_cart_fixed>
            <sales_quote_address_discount_apply_rule_buy_x_get_y>
                <observers>
                    <Aoe_SalesRule>
                        <class>Aoe_SalesRule/Observer</class>
                        <method>applyCoreSalesRule</method>
                    </Aoe_SalesRule>
                </observers>
            </sales_quote_address_discount_apply_rule_buy_x_get_y>
        </events>
    </global>
</config>
